* {
    box-sizing:border-box;
}

body{
    margin: 0px auto;
    background-color: gray;
}

body>div{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: lightgray;
}

#carousel_wrap{
	overflow: hidden;
    transform-style: preserve-3d;
	width: 100%;
	height: 600px;
}

nav{
    position: absolute;
    width: 600px;
    height: 60px;
    padding: 10px;
    color: white;
    z-index: 105;
    /* background-color: rgb(7, 158, 40); */
}

.nav{
    display: inline-block;
}

#home_icon{
    margin-top: 5px;
    margin-left: 10px;
    padding: 1px 5px;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    /* color:rgb(7, 158, 40); */
    /* background-color: white; */
}

#home{
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}

#email{
    float: right;
    margin: 7px;
    font-size: 1.2em;
}

#orderFlex{
	display: flex;
	justify-content: center;
	position: absolute;
    display: none;
    width: 100%;
    top: 100px;
}

#order{
    /*position: absolute;
    display: none;
    top: 100px;
    left: 290px;*/
    width: 50px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: gray;
    border-radius: 35%;
}

.carousel{
	position: absolute;
    margin: 0px;
    width: 600px;
    height: 600px;
    z-index: 100;
    opacity: 0.5;
    transition: transform 1s;
}

.img_mid{
	display: block;
    z-index: 90;
}

.img_left{
	display: block;
    z-index: 80;
    transform: translateX(-100%);
}

.img_right{
	display: block;
    z-index: 80;
    transform: translateX(100%);
}

.img_other{
	display: none;
}

#titleFlex{
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 105;
	width: 100%;
	top: 270px;
	font-size: 3em;
	color: white;
}

.move{
    display: none;
    font-weight: bold;
    opacity: 0.6;
    cursor: pointer;
}

.move:hover{
	font-weight: bold;
	opacity: 0.8;
}

#title{
    text-align: center;
    word-break: keep-all;
}

#description{
    margin: 0px;
    padding:5% 10%;
    background-color: white;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    text-align: left;
    display: box;
    line-clamp: 2;
    box-orient: vertical;
    line-height: 1.5em;
    height: 5em;
    word-wrap: break-word;
    word-break: keep-all;
}

#expansion{
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 6px;
    font-size: 1.4em;
    cursor: pointer;
}

#event{
    margin: 10px 0px 5px 0px;
    background-color: lightyellow;
}

.event_txt{
    padding: 15px;
}


#make_reservation{
    margin: 5px 0px;
    height: 50px;
    padding: 6px;
    text-align: center;
    font-size: 1.4em;
    color: white;
    background-color: #2db40d;
}

#make_reservation:hover{
    text-decoration: underline;
    font-weight: bold;
    background-color: #2dc40d; 
    cursor: pointer;
}

#more_info{
    background-color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#more_info_tab{
    display: flex;
    justify-content: space-around;
    height: 40px;
    border: solid lightgray;
    border-width: 0px 0px thin 0px;
}

.flex_item{
    border: solid;
    border-width: 0px 0px 3px 0px;
    border-color: white;
    padding: 8px;
}

.flex_item:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#more_info_tab_details{
    padding: 20px;
}

#more_info_tab_details>div{
    margin: 20px;
    width: 520px;
    word-break: keep-all;
}

#more_info_tab_details>div:nth-child(2){
    text-align: center;
}

#img_notice{
    margin: 20px 30px;
    width: 500px;
}

#more_info_tab_1{
    border-color: #2db40d;
}

#introduction{
    font-weight: bold;
}

#notice{
    font-weight: bold;
}

#more_info_tab_route{
    display: none;
    padding: 40px;
}

#route_map{
    margin: 0px 10px;
    width: 500px;
}

#more_info_tab_route>div{
    margin: 10px 30px;
    width: 520px;
}

#route_lot_span{
    color: #363636;
}

#route_place_name{
    color: #363636;
}

#top{
    margin: 5px 20px 5px 20px;
    padding: 5px;
    width: 560px;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

#top:hover{
    text-decoration: underline;
    font-weight: bold;  
    cursor: pointer;
}

footer{
    margin: 20px;
    text-align: center;
    color: rgb(90, 90, 90);
}