* {
    box-sizing:border-box;
}

body{
    margin: 0px auto;
    background-color: gray;
}

body > div{
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    width: 600px;
    background-color: lightgray;
}

nav{
    height: 60px;
    padding: 10px;
    color: white;
    background-color: rgb(7, 158, 40);
}

.nav{
    display: inline-block;
}

#home_icon{
    margin-top: 5px;
    margin-left: 10px;
    padding: 1px 5px;
    font-size: 1.4em;
    font-weight: bold;
    color:rgb(7, 158, 40);
    background-color: white;
}

#home{
    font-weight: bold;
    font-size: 1.4em;
}

#email{
    float: right;
    margin: 7px;
    font-size: 1.2em;
}

#promo_wrap{
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    margin: auto;
}

#promo_list{
    transform-style: preserve-3d;
}

.promoImg{
    position: absolute;
    height: 400px;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform 2s;
}

.promoImg.std{
    z-index: 900;
}

.promoImg.prev{
    z-index: 800;
    transform: translateX(-100%);
}

.promoImg.nxt{
    z-index: 700;
    transform: translateX(100%);
}

#cat{
    margin-bottom: 3px;
    background-color: white;
  
}

.cat{
    display: inline-block;
    margin: 0% 0%;
    padding: 8px;
    height: 40px;
    width: 13%;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: white;
}

#i0{
    width: 16%;
}

.cat:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#cat_num{
    height: 40px;
    padding: 8px;
    text-align: center;
    color: rgb(90,90,90);
    background-color: white;
}

#total{
    color: red;
}

#cat_red{
    color: red;
}

.product_list{
    display: inline-block;
    margin: 10px;
    width: 280px;
}

#product_list1{
    float: left;
}

#product_list2{
    float: right;
    left: 270px;
}

.product{
    margin: 10px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.product_img{
    margin: 0px;
    width: 240px;
}

.product_title{
    margin: 2px 0px 3px 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.product_place{
    margin: 0px 0px 0px 12px;
}

.product_line{
    margin: 5px 10px 5px 10px;
    height: 3px;
    width: 90%;
    background-color: lightgray;
}

.product_content{
    margin: 0px 15px 10px 15px;
    color: rgb(90,90,90);
    /* 한 줄 자르기 */ 
    display: inline-block;
    width: 200px; white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis;
    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2; height: 2.4em; 
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.clear{
    display: block;
    content: "";
    clear: both;
}

#more{
    margin: 20px 20px 5px 20px;
    padding: 7px;
    width: 560px;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    background-color: white;
}

#more:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#top{
    margin: 5px 20px 5px 20px;
    padding: 5px;
    width: 560px;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    background-color: lightgray;
	border: none;
  
}

#top:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

footer{
    margin: 20px;
    text-align: center;
    color: rgb(90, 90, 90);
}