*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  background-color: gray;
}

body>div{
  width: 600px;
  background-color: white;
}

#back{
  position: absolute;
  font-size: 1.2em;
}

#name{
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

#image{
  overflow: hidden;
  transform-style: 3d-preserve;
  width: 100%;
  height: 400px;
}

#image>img{
  margin: -100px 0px 0px 0px;
  width: 100%;
  opacity: 0.7;
}

#image>#gray_back{
  position: absolute;
  z-index: 10;
  width: 600px;
  height: 400px;
  background-color: gray;
  opacity: 0.6;
  
}

#title{
  position: absolute;
  z-index: 11;
  width: 600px;
  top: 300px;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

#krw{
  position: absolute;
  z-index: 11;
  width: 600px;
  top: 340px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 1em;
}

#time_left{
  position: absolute;
  z-index: 11;
  margin-left: 100px;
  width: 400px;
  top: 360px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 1em;
}

#detail{
  padding: 0px 5% 5% 5%;
}

.bold{
  margin: 30px 0px 10px 0px;
  font-weight: bold;
  font-size: 1.1em;
}

.normal{
  font-size: 1.1em;
}

.hidden{
  display: none;
}

#row_flex{
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
}

#col_flex{
  display: flex;
  flex-direction: column;
}

#col_flex{
  display: flex;
  flex-direction: column;
}

.price_type{
  font-weight: bold;
}

.price_price{
  font-weight: bold;
}

.price_discount{
  color: gray;
}

table{
  table-layout: fixed;
  width: 150px;
  height: 50px;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.3em;
}

table td{
  border: 2px solid gray;
}

.minus{
  color: gray;
}

.cnt{
  color: gray;
}

.plus{
  color: white;
  background-color: #2db40d;
}

.price_sum{
  text-align: right;
}

#user_info_form{
  padding: 2% 5%;
}

#user_info_form_flex{
  display: flex;
  justify-content: space-between;
}

.info_bold{
  font-size: 1.2em;
  font-weight: bold;
}

.info_small_gray{
  font-size: 0.9em;
  color: gray;
}

.form_line_flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

#reservation_form label{
  color: gray;
}

#reservation_form input{
  width: 80%;
  height: 80%;
}

/* hr{
  height: 3px;
  background-color: rgb(180,180,180);
  border: none;
}

#top{
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

#white_green{
  padding: 3px 8px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  background-color: #2db40d;
}

#black_bold{
  padding: 3px;
  font-size: 2em;
  font-weight: bold;
}

#bold{
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#gray{
  margin: 10px;
  font-size: 1.2em;
  color: rgb(90,90,90);
}

#check{
  margin: 10px;
  padding: 5px;
  width: 90%;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #2db40d;
  background-color: white;
  border: 2px solid #2db40d;
}

#red_white{
  margin: 0px 10px;
  padding: 5px;
  width: 90%;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: red;
  background-color: white;
  border: 2px solid red;
}

#email_form{
  margin: 10px;
  padding: 5px;
  width: 90%;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  border: 2px solid;
}

#green_white{
  margin: 10px;
  padding: 5px;
  width: 90%;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #2db40d;
  background-color: white;
  border: 2px solid #2db40d;
} */